* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: black;
}
@media (min-width: 960px) {
  body {
    color: white;
    background: linear-gradient(
      107.17deg,
      #408195 29.35%,
      rgba(0, 210, 135, 0.8) 78.73%
    );
  }
}
.footer {
  background-color: #2c2c2c;
}
